<nav ng-controller="appNavController as nav" class="navbar navbar-default navbar-fixed-top" >
	<ul class="nav navbar-nav">
	  <li class="" ng-repeat="item in nav.pages">
		<a ng-href="{{ item.url }}">{{ item.title }}</a>
	  </li>
	</ul>
        <div class="navbar-right">
            <div ng-if="nav.session" class="nav navbar-nav">
                <div class="h5">
                    Bentornato/a <strong>{{ nav.session.name }}</strong>
                    <button type="button" class="btn btn-sm btn-info" ng-click="nav.signout()">Esci</button>
                    &nbsp;&nbsp;
                </div>
            </div>
            <form ng-hide="nav.session" novalidate class="navbar-form" name="signin" ng-submit="nav.signin(signin.$valid)">
                <div class="input-group" ng-class="{ 'has-error' : signin.email.$invalid && !signin.email.$pristine }" >
                    <span class="input-group-addon" tooltip data-placement="bottom" title="Email obblibatoria"><i class="fa fa-user"></i></span>
                    <input size="10" name="email" required type="email" class="form-control input-sm" ng-model="nav.user.mail" placeholder="Email">
                </div>

                <div class="input-group" ng-class="{ 'has-error' : signin.password.$invalid && !signin.password.$pristine }">
                    <span class="input-group-addon" tooltip data-placement="bottom" title="Password lunghezza minima 5 massima 8"><i class="fa fa-lock"></i></span>
                    <input size="10" name="password" required type="password" class="form-control  input-sm" ng-model="nav.user.pass" ng-minlength="5" ng-maxlength="8" placeholder="Password">                                        
                </div>

                <button type="submit" class="btn btn-sm btn-primary" ng-disabled="signin.$invalid">Entra</button>
                <button type="button" class="btn btn-sm btn-success">Registrati</button>
            </form>
        </div>
</nav>
<!--p ng-show="singin.email.$invalid && !singin.email.$pristine" class="help-block alert alert-danger">Email richiesta!</p>
<p ng-show="singin.password.$invalid && !singin.password.$pristine" class="help-block alert alert-danger">Password richiesta!</p>
<p ng-show="singin.password.$error.minlength && !singin.password.$pristine" class="help-block alert alert-danger">Password troppo corta!</p>
<p ng-show="singin.password.$error.maxlength" class="help-block alert alert-danger">Password troppo lunga!</p -->
