<div class="modal-header">
   <button type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" class="close">
      <em class="fa fa-close"></em>
   </button>
   <h4 id="myModalLabel" class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
    <form class="well well-sm panel-body">
         <div class="form-group col-md-6 col-sm-12">
              <label for="exampleName1">Nome</label>
              <input type="text" class="form-control" id="exampleName1" name="name" ng-model="user.name" placeholder="Inserire un nome">
        </div>
         <div class="form-group col-md-6 col-sm-12">
              <label for="exampleSurname1">Cognome</label>
              <input type="text" class="form-control" id="exampleSurname1" name="surname" ng-model="user.surname" placeholder="Inserire cognome">
        </div>
          <div class="form-group col-md-6 col-sm-12">
              <label for="exampleSurname1">Email</label>
              <input type="text" class="form-control" id="exampleEmai1" name="email" ng-model="user.email" placeholder="Inserire email">
        </div>
        
         <div ng-if="isAdmin" class="form-group col-md-6 col-sm-12">
              <label for="exampleSurname1">Ruolo</label>
             
             <select typr="text" class="form-control" id="ExampleRuolo1" ng-model="user.role">
              <option value="admin"> Admin</option>
              <option value="Manager"> Manager</option>
              <option value="Guest"> Guest</option>
             </select>
         </div>
        
         <div ng-if="isAdmin" class="form-group col-md-6 col-sm-12">
              <label for="examplePassword1">Password</label>
        <input type="password" class="form-control" id="examplePassword1" name="email" ng-model="user.password" placeholder="Inserire una password">
  
        
    </form>
</div>
<div class="modal-footer">
   <button ng-click="ok()" class="btn btn-info">Salva</button>
   <button ng-if="reset" ng-click="reset()" class="btn btn-info">Reset</button>
   <button ng-click="cancel()" class="btn btn-inverse">Chiudi</button>
</div>