<div class="modal-header">
   <button type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" class="close">
      <em class="fa fa-close"></em>
   </button>
   <h4 id="myModalLabel" class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
    <form class="well well-sm panel-body">
         <div class="form-group col-md-6 col-sm-12">
              <label for="exampleName1">Nome</label>
              <input type="text" class="form-control" id="exampleName1" name="name" ng-model="user.name" placeholder="Inserire il nome" required>
        </div>
        <div class="form-group col-md-6 col-sm-12">
              <label for="exampleSurname1">Cognome</label>
              <input type="text" class="form-control" name="surname" ng-model="user.surname" placeholder="Inserire il cognome" required>
        </div>
        <div ng-if="isAdmin" class="form-group col-md-6 col-sm-12">
              <label for="exampleSurname2">Ruolo</label>
              <select type="text" class="form-control" id="exampleRole1" name="role" ng-model="user.role">
                <option value="Admin">Admin</option>
                <option value="Manager">Manager</option>
                <option value="Guest">Guest</option>
              </select>
              <!--select ng-model="user.role" class="form-control" id="exampleRole1" name="role" ng-options="role for role in ['Admin', 'Manager', 'Guest']" required>
		<option value="">Seleziona il ruolo.</option>
              </select-->
        </div>
         <div class="form-group col-md-6 col-sm-12">
              <label for="exampleEmail1">Email</label>
              <input class="form-control">
        </div>
  
        
    </form>
</div>
<div class="modal-footer">
   <button ng-click="ok()" class="btn btn-info">Salva</button>
   <button ng-if="reset" ng-click="reset()" class="btn btn-info">Reset</button>
   <button ng-click="cancel()" class="btn btn-inverse">Chiudi</button>
</div>