<h1>
    Calendario delle lezioni
</h1>

    <!-- div class="alert alert-warning">
        <h4>Esercizio</h4>
        <p>
           Per completare questo esercizio servirà
           gestire il caricamento dinamico del calendario e
           attivare il comportamento di add edit e delete appoggiandosi
           ad un form da realizzare sotto al calendario
        </p>
    </div -->

 <div class="agenda">
    <div class="table-responsive">
        <table class="table table-condensed table-bordered" ng-show="agenda.length">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Orario</th>
                    <th>Lezione</th>
                </tr>
            </thead>
            <tbody ng-repeat="day in agenda">
                <!-- Single event in a single day -->
                <tr ng-if="day.events.length <= 1">
                    <td class="agenda-date" class="active" colspan="{{ day.events.length?1:3  }}">
                        <div class="dayofmonth">{{ day.date | date : 'dd' }}</div>
                        <div class="dayofweek">{{ day.date | date : 'EEEE' }}</div>
                        <div class="shortdate text-muted">{{ day.date | date : 'MMMM, yyyy' }}</div>
                    </td>
                    <td ng-if="day.events.length" class="agenda-time">
                        {{ day.events[0].from | date : 'shortTime' }} <span ng-show="event.to"> - {{ day.events[0].to | date : 'shortTime' }}</span>
                    </td>
                    <td ng-if="day.events.length" class="agenda-events">
                        <div class="agenda-event">
                            {{ day.events[0].teacher }} <span ng-show="day.events[0].lesson">-</span>
                            {{ day.events[0].lesson }} <span ng-show="day.events[0].argument">-</span>
                            {{ day.events[0].argument }}
                            <div class="text-right">
                                <button class="btn btn-sm btn-info"  ng-click="showEvent($index, 0)">Modifica</button>
                                <button class="btn btn-sm btn-danger" ng-click="deleteEvent($index, 0)">Cancella</button>
                          </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if="day.events.length > 1" ng-repeat="event in day.events">
                    <td class="agenda-date" class="active" rowspan="{{ day.events.length }}" ng-if="$index == 0">
                        <div class="dayofmonth">{{ day.date | date : 'dd' }}</div>
                        <div class="dayofweek">{{ day.date | date : 'EEEE' }}</div>
                        <div class="shortdate text-muted">{{ day.date | date : 'MMMM, yyyy' }}</div>
                    </td>
                    <td class="agenda-time">
                        {{ event.from | date : 'shortTime' }} <span ng-show="event.to"> - {{ event.to | date : 'shortTime' }}</span>
                    </td>
                    <td class="agenda-events">
                        <div class="agenda-event">
                            {{ event.teacher }} <span ng-show="event.lesson">-</span>
                            {{ event.lesson }} <span ng-show="event.argument">-</span>
                            {{ event.argument }}
                            <div class="text-right">
                                <button class="btn btn-sm btn-info"  ng-click="showEvent($parent.$index, $index)">Modifica</button>
                                <button class="btn btn-sm btn-danger" ng-click="deleteEvent($parent.$index, $index)">Cancella</button>
                          </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
     
    <h2>FORM DI CREAZIONE E MODIFICA DATA DI CALENDARIO</h2>
</div>