<div class="well">
    <table align="center">
        <tr>
            <td>
                <img ng-src="{{parameters.logo}}" class="logo"/>
            </td>
            <td valign="bottom">
                <h1 align="left" class="villaggio"> {{ parameters.scuola | uppercase}} </h1> 
                <h5 class="decreto"> {{parameters.decreto}}</h5>
            </td>
        </tr> 
    </table>
<br>
    <div class="sottotitolo">
        <h2>{{parameters.sottotitolo | uppercase}}</h2>
    </div>
<br>
    <h2 class="centroPagina"> {{parameters.centroPagina | uppercase}}</h2>

<!-- da qui iniziano quelli dinamici -->
<div class="campiDinamici">
    <h3> corso cod. N.:{{parameters.codice }} </h3>
    <br>
    <h3> Titolo:{{parameters.title}}</h3>
    <br>
    <h3>Periodo dal: {{parameters.start|date:"dd/MM/yyyy"}} al: {{parameters.end|date:"dd/MM/yyyy"}} </h3>
</div>


<br><br>

<button ng-if="isAdmin()" ng-click="showHide()">Modifica come admin</button>
<br/><br/>
<form ng-if="isAdmin()" ng-show="myVar">
    <input type="text" placeholder="Codice corso n°" ng-model="form.codice"/> 
    <br/><br/>
    <input type="text" size="50" placeholder="Nome corso" ng-model="form.title"/>
    <br/><br/>
    <input type="date" placeholder="Inizio corso" ng-model="form.start"/> 
    <br/><br/>
    <input type="date" placeholder="Fine corso" ng-model="form.end"/> 
    <br/><br/>
    <button ng-click="saveData()">Salva</button>
</form>
<br/>
<br/>
</div>
