<h1>
    Presenze Studenti
</h1>

    <div class="agenda">
    <div class="table-responsive">
        <table class="table table-condensed table-bordered" ng-show="studTot.length">
            <thead>
                <tr>
                    <th>Matricola</th>
                    <th>Cognome e Nome</th>
                    <th>Presenze</th>
                </tr>
            </thead>
            <tbody ng-repeat="(key, student) in studTot">
                <!-- Single event in a single day -->
                <tr ng-if="student.presTot.length <= 1">
                    <td class="agenda-date" class="active">
                        {{student.matr}}
                    </td>
                    <td class="agenda-events" colspan="{{ student.presTot.length?1:2  }}">
                        {{student.surname}} {{student.name}}
                    </td>
                    <td ng-if="student.presTot.length" class="agenda-events">
                        <div class="agenda-event">
                            {{ student.presTot[0].title }} <span ng-show="student.presTot[0].hours">-</span>
                            {{ student.presTot[0].hours }} <span ng-show="student.presTot[0].description">-</span>
                            {{ student.presTot[0].description }}
                            <div class="text-right">
                                <button class="btn btn-sm btn-info"  ng-click="showEvent(key, 0)">Modifica</button>
                                <button class="btn btn-sm btn-danger" ng-click="deleteEvent(key, 0)">Cancella</button>
                           </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if="student.presTot.length  > 1" ng-repeat="presence in student.presTot">
                    <td class="agenda-date" class="active" rowspan="{{ student.presTot.length }}" ng-if="$index == 0">
                       {{student.matr}}
                    </td>
                    <td class="agenda-time">
                        {{student.surname}} {{student.name}}
                    </td>
                    <td class="agenda-events">
                        <div class="agenda-event">
                           {{ presence.title }} <span ng-show="presence.hours">-</span>
                            {{ presence.hours }} <span ng-show="presence.description">-</span>
                            {{ presence.description }}
                            <div class="text-right">
                                <button class="btn btn-sm btn-info"  ng-click="showEvent(key, $index)">Modifica</button>
                                <button class="btn btn-sm btn-danger" ng-click="deleteEvent(key, $index)">Cancella</button>
                          </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>FORM DI CREAZIONE E MODIFICA DATA DI CALENDARIO</h2>
</div>